    [data-theme="default-light"] {
        color-scheme: light;
        /* Theme Colors (Light Mode) */
        --accent: oklch(62.04% 0.1950 253.83);
        --accent-foreground: oklch(99.11% 0 0);
        --background: oklch(97.02% 0.0015 253.83);
        --border: oklch(90.00% 0.0015 253.83);
        --danger: oklch(65.32% 0.2335 25.74);
        --danger-foreground: oklch(99.11% 0 0);
        --default: oklch(94.00% 0.0015 253.83);
        --default-foreground: oklch(21.03% 0.0059 253.83);
        --field-background: oklch(100.00% 0.0008 253.83);
        --field-foreground: oklch(21.03% 0.0015 253.83);
        --field-placeholder: oklch(55.17% 0.0030 253.83);
        --focus: oklch(62.04% 0.1950 253.83);
        --foreground: oklch(21.03% 0.0015 253.83);
        --muted: oklch(55.17% 0.0030 253.83);
        --overlay: oklch(100.00% 0.0004 253.83);
        --overlay-foreground: oklch(21.03% 0.0015 253.83);
        --scrollbar: oklch(87.10% 0.0015 253.83);
        --segment: oklch(100.00% 0.0015 253.83);
        --segment-foreground: oklch(21.03% 0.0015 253.83);
        --separator: oklch(92.00% 0.0015 253.83);
        --success: oklch(73.29% 0.1941 150.81);
        --success-foreground: oklch(21.03% 0.0059 150.81);
        --surface: oklch(100.00% 0.0008 253.83);
        --surface-foreground: oklch(21.03% 0.0015 253.83);
        --surface-secondary: oklch(95.24% 0.0012 253.83);
        --surface-secondary-foreground: oklch(21.03% 0.0015 253.83);
        --surface-tertiary: oklch(93.73% 0.0012 253.83);
        --surface-tertiary-foreground: oklch(21.03% 0.0015 253.83);
        --warning: oklch(78.19% 0.1590 72.33);
        --warning-foreground: oklch(21.03% 0.0059 72.33);

        /* Border Radius */
        --radius: 0.5rem;
        --field-radius: 0.75rem;

        /* Font Family */
        /* Make sure to load Inter font in your app */
        --font-sans: var(--font-inter);
    }