    [data-theme="ocean-light"] {
        color-scheme: light;
        --accent: oklch(51.15% 0.1937 263.35);
        --accent-foreground: oklch(99.11% 0 0);
        --background: oklch(97.02% 0.0100 263.35);
        --border: oklch(90.00% 0.0100 263.35);
        --danger: oklch(65.32% 0.2375 26.88);
        --danger-foreground: oklch(99.11% 0 0);
        --default: oklch(94.00% 0.0100 263.35);
        --default-foreground: oklch(21.03% 0.0059 263.35);
        --field-background: oklch(100.00% 0.0050 263.35);
        --field-foreground: oklch(21.03% 0.0100 263.35);
        --field-placeholder: oklch(55.17% 0.0200 263.35);
        --focus: oklch(51.15% 0.1937 263.35);
        --foreground: oklch(21.03% 0.0100 263.35);
        --muted: oklch(55.17% 0.0200 263.35);
        --overlay: oklch(100.00% 0.0030 263.35);
        --overlay-foreground: oklch(21.03% 0.0100 263.35);
        --scrollbar: oklch(87.10% 0.0100 263.35);
        --segment: oklch(100.00% 0.0100 263.35);
        --segment-foreground: oklch(21.03% 0.0100 263.35);
        --separator: oklch(92.00% 0.0100 263.35);
        --success: oklch(73.29% 0.1974 151.95);
        --success-foreground: oklch(21.03% 0.0059 151.95);
        --surface: oklch(100.00% 0.0050 263.35);
        --surface-foreground: oklch(21.03% 0.0100 263.35);
        --surface-secondary: oklch(95.24% 0.0080 263.35);
        --surface-secondary-foreground: oklch(21.03% 0.0100 263.35);
        --surface-tertiary: oklch(93.73% 0.0080 263.35);
        --surface-tertiary-foreground: oklch(21.03% 0.0100 263.35);
        --warning: oklch(78.19% 0.1617 73.47);
        --warning-foreground: oklch(21.03% 0.0059 73.47);

        /* Border Radius */
        --radius: 0.5rem;
        --field-radius: 0.75rem;

        /* Font Family */
        /* Make sure to load Inter font in your app */
        --font-sans: var(--font-inter);
    }