    [data-theme="wine-light"] {
        color-scheme: light;
        --accent: oklch(53.95% 0.1159 331.43);
        --accent-foreground: oklch(99.11% 0 0);
        --background: oklch(97.02% 0.0185 331.43);
        --border: oklch(90.00% 0.0185 331.43);
        --danger: oklch(65.32% 0.2414 35.05);
        --danger-foreground: oklch(99.11% 0 0);
        --default: oklch(94.00% 0.0185 331.43);
        --default-foreground: oklch(21.03% 0.0059 331.43);
        --field-background: oklch(100.00% 0.0092 331.43);
        --field-foreground: oklch(21.03% 0.0185 331.43);
        --field-placeholder: oklch(55.17% 0.0370 331.43);
        --focus: oklch(53.95% 0.1159 331.43);
        --foreground: oklch(21.03% 0.0185 331.43);
        --muted: oklch(55.17% 0.0370 331.43);
        --overlay: oklch(100.00% 0.0055 331.43);
        --overlay-foreground: oklch(21.03% 0.0185 331.43);
        --scrollbar: oklch(87.10% 0.0185 331.43);
        --segment: oklch(100.00% 0.0185 331.43);
        --segment-foreground: oklch(21.03% 0.0185 331.43);
        --separator: oklch(92.00% 0.0185 331.43);
        --success: oklch(73.29% 0.2007 160.12);
        --success-foreground: oklch(21.03% 0.0059 160.12);
        --surface: oklch(100.00% 0.0092 331.43);
        --surface-foreground: oklch(21.03% 0.0185 331.43);
        --surface-secondary: oklch(95.24% 0.0148 331.43);
        --surface-secondary-foreground: oklch(21.03% 0.0185 331.43);
        --surface-tertiary: oklch(93.73% 0.0148 331.43);
        --surface-tertiary-foreground: oklch(21.03% 0.0185 331.43);
        --warning: oklch(78.19% 0.1644 81.64);
        --warning-foreground: oklch(21.03% 0.0059 81.64);

        /* Border Radius */
        --radius: 0.5rem;
        --field-radius: 0.75rem;

        /* Font Family */
        /* Make sure to load Inter font in your app */
        --font-sans: var(--font-inter);
    }